@if(Context.User.Identity.IsAuthenticated == false)
{
    <a class="nav-link text-dark" asp-controller="Manage" asp-action="LogIn">LogIn</a>
}
else
{
<span>Hola @Context.User.Identity.Name </span>
<a class="nav-link text-dark" asp-controller="Manage" asp-action="LogOut">Cerrar sesión</a>
}
