<div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
    <div>
        @ViewData["MENSAJE"]
    </div>
</div>
<h3 class="text-center"><a asp-controller="Manage" asp-action="LogIn">Ir al Login</a></h3>